html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
  text-align: center;
  padding: 0%;
  margin: 0%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  align-items: stretch;
}

#top3 {
  width: 35%;
  margin: auto;
}

.top1 {
  font-weight: 200;
  margin: 20px auto 0 auto;
}
.top2 {
  font-weight: 600;
  margin: 10px auto 0 auto;
}
.box {
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  flex-shrink: 0;
  border-radius: 20px;
  border-top-width: 4px;
  border-top-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
.box1 {
  border-top-color: hsl(180, 62%, 55%);
}

.box2 {
  border-top-color: hsl(0, 78%, 62%);
}
.box3 {
  border-top-color: hsl(34, 97%, 64%);
}
.box4 {
  border-top-color: hsl(212, 86%, 64%);
}
.box-modify {
  display: block;
  transform: translateY(50%);
}

.box img {
  widows: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
}
h2 {
  text-align: left;
}
@media (max-width: 1200px) {
  .box4 {
    order: 1;
  }
  .box-modify {
    transform: translateY(0);
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #top3 {
    font-size: 50%;
  }
}
